.placeholder__text {
  position: absolute;
  width: 195px;
  height: 24px;
  left: 223px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 999;
  color: #454545;

  user-select: none;
}
