.textArea__Container {
  width: 447px;
  border: 1px solid #525557;
  padding: 24px 23px;
  margin-top: 29px;
  margin-bottom: 50px;
  background-color: white;
  resize: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #3a3a3a;
}

.header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-top: 5px;
}
