.welcome__container {
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  mix-blend-mode: normal;
  user-select: none;
}

.additionalStars {
  position: absolute;
  width: 433.63px;
  height: 511.5px;
  left: 0px;
  top: 18px;
  user-select: none;
}

.welcome__text {
  position: absolute;
  width: 1090px;
  height: 212px;
  left: 434px;
  top: 175px;
  font-family: Rowdies;
  font-weight: 400;
  font-size: 96px;
  line-height: 119px;
  display: flex;
  size: 96px;
  align-items: center;
  justify-content: center;
  color: #fe3b1f;
  transition: all 0.4s ease;
}

.welcome__text:hover {
  transform: scale(1.05);
}

.button__start,
.button__submitted {
  position: absolute;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
  border: none;
}

.button__submitted {
  width: 338px;
  height: 66px;
  left: 795px;
  top: 589px;
  line-height: 29px;
  text-decoration-line: underline;
  background: none;
  transition: all 0.4s;
}
.button__submitted:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.button__submitted:active {
  transform: scale(0.95);
}

.rocketman {
  position: absolute;
  height: auto;
  width: 531px;
  height: auto;
  left: 662px;
  top: 611.88px;
  user-select: none;
}

.rocketman:hover {
  animation: shake 8s;
  animation-iteration-count: infinite;
}

.button-container-1,
.button-container-1 button,
.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.button-container-1 {
  position: absolute;
  width: 395px;
  height: 79px;
  left: 754px;
  top: 492px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 1px;
  background: #ff0000;
  border-radius: 50px;
}

.button-container-1:active {
  transform: scale(0.95);
}

.button-container-1 button {
  width: 100%;
  height: 100%;
  background: #fe3b1f;
  justify-content: center;
  border-radius: 50px;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;

  -webkit-animation: an2 0.7s steps(22) forwards;
  animation: an2 0.7s steps(22) forwards;
}

.button-container-1 button:hover {
  -webkit-animation: an1 0.7s steps(22) forwards;
  transform: scale(1.05);
  animation: an1 0.7s steps(22) forwards;
}

.text {
  position: absolute;
  color: #000;
  width: 101%;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  color: #ffffff;
  font-size: 28px;
}

@-webkit-keyframes an1 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes an1 {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes an2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes an2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(1deg);
  }
  10% {
    transform: translate(-3px, -4px) rotate(-2deg);
  }
  20% {
    transform: translate(-6px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(6px, 4px) rotate(1deg);
  }
  40% {
    transform: translate(6px, -6px) rotate(2deg);
  }
  50% {
    transform: translate(-6px, 4px) rotate(-2deg);
  }
  60% {
    transform: translate(-6px, 6px) rotate(1deg);
  }
  70% {
    transform: translate(6px, 6px) rotate(-2deg);
  }
  80% {
    transform: translate(-6px, -6px) rotate(2deg);
  }
  90% {
    transform: translate(6px, 4px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-2deg);
  }
}
