.background {
  width: 349px;
  height: 54px;

  border: 1px solid #525557;
  display: flex;
  padding-left: 57px;
  padding-right: 26px;
  align-items: center;
  justify-content: space-between;
}
.header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-top: 75px;
  padding-bottom: 30px;
}

.date {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #454545;
}

.icon {
  width: 16px;
  height: 18px;
}
