.background {
  height: 1080px;
  width: 1920px;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}
.thanks {
  position: absolute;
  width: 1266px;
  height: 191px;
  left: 50%;
  transform: translateX(-50%);
  top: 444px;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fe3b1f;
}
